.infoBlock {
   position: relative;
   margin: 0 0 30px 0;
   &__container {
      background: $light_bg;
      max-width: 960px;
      margin: 0 auto;
      padding: 52px 80px 54px;
   }
   .phone {
      color: $black;
   }
   .col--50 {
      &:first-child {
         padding-right: 90px;
      }
      &:nth-child(even) {
         padding-left: 90px;
      }
      .columns{
         margin: 30px 0 35px;
      }
      .btn--large__form:first-child{
         margin: 0 20px 20px 0;
      }

   }
   .col--50--third {
      flex-grow: 1;
      width: 50%;
      
   }
   &__divider {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 65%;
      }
   .title--30 {
      margin: 0 0 30px;
   }

   &__date {
      font-family: Georgia, sans-serif;
      font-style: italic;
      font-size: 14px;
      line-height: 1;
      font-weight: 400;
      text-transform: lowercase;
   }
   &__box {
      margin-bottom: 35px;
   }
}
